.main {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding: 5em;
  position: sticky;
  top: 5em;
}

.workexp, .skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  gap: 2.2em;
}

.slogan {
  letter-spacing: 0.8px;
  color: var(--slogan-color);
}

.jobWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.job {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6em;
}

.jobMain {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.jobIcon {
  width: 100px;
  height: 100px;
}

.companyName {
  font-weight: 500;
}

.jobTitle {
  font-weight: 400;
}

.jobDescription {
  max-width: 100%;
  padding-left: 1em;
  font-weight: 100;
  font-style: italic;
}

.skill {
  width: 100%;
}

.skillWrapper {
  display: flex;
  flex-direction: row;
  gap: 6em;
}

.tagWrapper {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .6em;
}

.skillTag {
  display: flex;
  align-items: center;
  height: fit-content;
  background: var(--tag-color);
  padding: .3em .7em;
  gap: 0.2em;
  width: fit-content;
  border-radius: 20px;
  letter-spacing: 0.2px;
  transition: all 0.2s ease;
}

.skillTag:hover {
  cursor: pointer;
  transition: 0.2s ease;
  filter: brightness(120%);
  box-shadow: 1.5px 3px var(--box-shadow-color);
}

.skillName {
  min-width: 6em;
  font-weight: 500;
}

.level {
  width: 60%;
  max-height: 16em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
}

.level::-webkit-scrollbar {
  width: 14px;
}

.level::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #AAAAAA;
}

.levelWrapper {  
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 0.6em;
  padding-right: 0.8em;
}

.levelBar {
  background: var(--tag-color);
  width: 100%;
  height: 1em;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .main {
    padding: 2em;
    gap: 2.5em;
  }
  .workexp, .skill {
    font-size: .9em;
  }
  .job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .jobMain {
    gap: .7em;
  }
  .jobTitle, .companyName {
    text-align: center;
  }
  .skillWrapper {
    flex-direction: column;
    gap: 2.5em;
  }
  .tagWrapper {
    width: 100%;
  }
  .level {
    width: 100%;
  }
}