:root {
  --menuitem-border-radius: 6px;
}

[data-theme="dark"] {
  --primary-color: #171717;
  --secondary-color: #202020;
  --font-color: #f8f8f8;
  --bg-color: #161625;
  --heading-color: #818cab;
  --hover-color: rgb(46, 143, 255);
  --menu-border-color: rgb(46, 46, 46);
  --slogan-color: rgb(170, 170, 170);
  --tag-color: #9c3aff;
  --box-shadow-color: rgba(82, 82, 82, 0.19);
  --moon-color: yellow;
  --background-color: rgb(0, 67, 145);
  --time-translate-moon: 0%;
  --background-brightness: 65%;
  --background-moutain-brightness: 90%;
  --background-lighthouse-brightness: 80%;
  --background-lighthouse-color: yellow;
  --loader-color: yellow;
}

[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #f0f0f0;
  --font-color: #1b1b1b;
  --bg-color: #161625;
  --heading-color: #818cab;
  --hover-color: rgb(56, 103, 255);
  --menu-border-color: rgb(212, 212, 212);
  --slogan-color: rgb(44, 44, 44);
  --tag-color: #34dd7a;
  --box-shadow-color: rgba(0, 0, 0, 0.19);
  --moon-color: #ffa700;
  --background-color: rgb(52, 146, 253);
  --time-translate-moon: -30%;
  --background-brightness: 125%;
  --background-moutain-brightness: 95%;
  --background-lighthouse-brightness: 90%;
  --background-lighthouse-color: #FFFFFF;
  --loader-color: #ffa700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto/Roboto-Light.ttf');
  src: url('../assets/Roboto/Roboto-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('../assets/Permanent_Marker/PermanentMarker-Regular.ttf');
  src: url('../assets/Permanent_Marker/PermanentMarker-Regular.ttf');
  font-style: normal;
}

body {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  color: var(--font-color);
}

.main {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.content {
  z-index: 10;
  width: 80%;
  background: var(--primary-color);
  opacity: 98%;
  box-shadow: var(--box-shadow-color) 0px 3px 20px;
  border-radius: 25px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 5%;
  border-radius: 18px;
  color: var(--loader-color);
  border: 2px solid white;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: loading 2s forwards;
}

@keyframes loading {
  100% { 
    inset:0
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    margin-top: 6em;
  }
  .loader {
    width: 70%;
  }
}