.main {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  opacity: 100%;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menuItem {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  border-radius: var(--menuitem-border-radius);
  gap: .5em;
  padding: .4em;
  text-decoration: none;
}

.menuItem:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.themeButton {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  padding: .3em;
  transition: .2s;
}

.themeButton:hover {
  background-color: var(--hover-color);
  transition: .2s;
  cursor: pointer;
}

.menuList {
  border-radius: var(--menuitem-border-radius);
  gap: .5em;
  padding: .4em;
  text-decoration: none;
  display: none;
  border-radius: var(--menuitem-border-radius);
  transition: .2s;
}

.menuList:hover {
  background-color: var(--hover-color);
  transition: .2s;
  cursor: pointer;
}

.menuPopup {
  position: absolute;
  color: white;
  background: var(--secondary-color);
  padding: .6em;
  border-radius: 12px;
  right: 1em;
  top: 3.8em;
  min-width: 12em;
  display: none;
  border: 1px solid;
  border-color: var(--menu-border-color);
  z-index: 1000;
}

.openMenu {
  display: block;
}

.heading {
  font-family: 'Permanent Marker';
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .menuWrapper .menuItem {
    display: none;
  }
  .menuList {
    display: flex;
  }
}

@media only screen and (min-width: 800px) {
  .menuPopup {
    display: none;
  }
}