.menu {
  display: flex;
  flex-direction: row;
  height: 3em;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  background-color: var(--primary-color);
  opacity: 100%;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menuItem {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  border-radius: var(--menuitem-border-radius);
  gap: .5em;
  padding: .4em;
  color: var(--font-color);
  text-decoration: none;
}

.menuItem:hover {
  background-color: var(--hover-color);
}

.themeButton {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  padding: .3em;
  transition: .2s;
  background-color: var(--primary-color);
}

.themeButton:hover {
  background-color: var(--hover-color);
  transition: .2s;
  cursor: pointer;
}

.menuList {
  display: none;
  border-radius: var(--menuitem-border-radius);
  transition: .2s;
}

.menuList:hover {
  background-color: var(--hover-color);
  transition: .2s;
  cursor: pointer;
}

.heading {
  font-family: 'Permanent Marker';
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .menuItem {
    display: none;
  }
  .menuList {
    display: flex;
  }
}