.sliderWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 65%;
  box-shadow: var(--box-shadow-color) 0px 10px 20px, var(--box-shadow-color) 0px 6px 6px;
}

.slideshow {
  display: flex;
  flex-direction: row;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.4em 0.4em 0 0;
}

.slideshow::-webkit-scrollbar {
  display: none;
}

.slideshow img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  object-fit: cover;
  animation: fadeIn ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-top: 1px solid var(--box-shadow-color);
  border-bottom: 1px solid var(--box-shadow-color);
}

.sliderNav {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  opacity: 70%;
}

.arrow:hover {
  cursor: pointer;
  opacity: 100%;
}

.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.project {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border-radius: 0 0 0.4em 0.4em;
  animation: fadeIn 1s;
}

.projectMain {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.projectName {
  font-size: 2em;
  text-decoration: none;
  transition: 0.2s;
}

.projectName:hover, .techStackHeader:hover {
  color: var(--hover-color);
  text-decoration: solid;
  transition: color 0.2s;
}

.projectDescription {
  font-size: 1em;
}

.projectInfo {
  font-size: 0.85em;
  line-height: 1.5;
}

.logo {
  position: relative;
  top: 0;
  right: 0;
}

.techStackWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.techStackHeader {
  font-size: 1.6em;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 400;
  transition: 0.2s;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .sliderWrapper {
    max-width: 90%;
  }
}