.sliderWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 65%;
}

.slider {
  display: flex;
  flex-direction: row;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.4em;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  object-fit: cover;
}

.sliderNav {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 1rem;
  position: relative;
  top: -3.5rem;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  opacity: 70%;
}

.arrow:hover {
  opacity: 100%;
}

.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: var(--box-shadow-color) 0px 10px 20px, var(--box-shadow-color) 0px 6px 6px;
}

.projectName {
  font-size: 2em;
  text-decoration: none;
  transition: 0.2s;
}

.projectName:hover {
  color: var(--hover-color);
  text-decoration: solid;
  transition: color 0.2s;
}

.projectDescription {
  font-size: 1em;
}

.projectInfo {
  font-size: 0.85em;
  line-height: 1.5;
}

.logo {
  position: relative;
  top: 0;
  right: 0;
}

@keyframes autoslide {
  0% {
    transform: translateX(-100%)
  }
  50% {
    transform: translateX(-200%)
  }
  100% {
    transform: translateX(0%)
  }
}

@media only screen and (max-width: 1000px) {
  .sliderWrapper {
    max-width: 90%;
  }
}